src/main/resources/Role.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://www.example.org/Role" 
	xmlns:tns="http://www.example.org/Role" elementFormDefault="qualified">
	<element name="roles">
		<complexType>
			<sequence>
				<element name="role" type="tns:Role"/>
			</sequence>
		</complexType>
	</element>
	
	<complexType name="Role">
		<sequence>
			<element name="id" type="integer"/>
			<element name="name" type="string"/>
		</sequence>
	</complexType>
</schema>