src/main/resources/xml/resolution.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.w3schools.com"
	xmlns="http://www.w3schools.com"
	elementFormDefault="qualified">
	<xs:element name="resolutions">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="resolution" type="resolutiontype" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:complexType name="resolutiontype">
		<xs:sequence>
			<xs:element name="id" type="xs:long"/>
			<xs:element name="name" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>